
.headline  {

  margin: -494px 304px;
  font-size: 49px;
  color: white;
  letter-spacing: 0.0625em;

  }

  .nav li {
  list-style: none;
  display: inline-block;
  padding: 20px; 
  margin:0px 50px; 

  }


  ul {
  position: absolute;
  margin-left: 50%;
  color: white;

  }

  ul a {

  color: white;
  text-decoration: none;

  }

   ul a:hover {

  text-decoration: underline;

  }

.fa-compass {

  position: absolute;
  width: 69px;
  height: 54px;
  margin: 20px;
  color: white;
}


.fa-arrow-circle-down {

  color: white;
  margin-top: 745px;
  margin-left: 660px;

  }

.header  p span {
	font-size:18px;
	letter-spacing: 0.0625em;
}

  





